<template name="adminDashboard">
	{{#if isAdmin}}
		{{> sendInvitationModal}}
	
		<h4 class="page-header">Users</h4>
		<p>There are {{getPublishedCount 'users'}} users and {{getPublishedCount 'articles'}} articles.</p>
		<div class="col-md-6">
			<div class="col-md-9">
				<input type="text" name="searchbar" class="search-bar fa form-control" placeholder="&#xF002;    Search Users" />
				<br>
				<br>
			</div>
			<div class="col-md-3 text-center">
				<button class="btn btn-success" data-toggle="modal" data-target="#send-invitation-modal">Add Member</button>
				<br>
				<br>
			</div>
			<div class="col-xs-12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Email Address</th>
							<th class="text-center">Role</th>
							<th width="96"></th>
						</tr>
					</thead>
					<tbody>
						{{#each users}}
							<tr>
								<td class="text-left text-middle">{{emails.[0].address}}{{#if belongsToYou}}<label class="btn btn-sm btn-warning pull-right">You!</label>{{/if}}</td>
								<td>
									<select name="userRole" id="userRole" class="form-control" value="{{profile.role}}" >
										<option {{userRole}} value="Admin">Admin</option>
										<option {{userRole}} value="Member">Member</option>
									</select>
								</td>
								<td>
									<button class="btn btn-info" data-toggle="modal" data-target="#edit-user-modal{{_id}}"><i class="fa fa-pencil"></i></button>
									<button class="delete-user btn btn-danger"><i class="fa fa-times"></i></button>
								</td>
							</tr>
							{{> editUserModal}}
						{{/each}}
					</tbody>
				</table>
				<br>
				{{#if userLimitReached}}
					<div class="col-xs-12 text-center">
						<button class="btn btn-primary load-more">Load More</button>
					</div>
				{{/if}}
			</div>
		</div>
		<div class="col-md-6">
			<div class="col-md-9">
				<input type="text" name="searchbar" class="search-bar2 fa form-control" placeholder="&#xF002;    Search Articles" />
				<br>
				<br>
			</div>
			<div class="col-md-3 text-center">
				<a href="/article-submit"><button class="btn btn-success">Add an Article</button></a>
				<br>
				<br>
			</div>
			<div class="col-xs-12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Article Title</th>
							<th class="text-center">Date</th>
							<th width="96"></th>
						</tr>
					</thead>
					<tbody>
						{{#each articles}}
							<tr>
								<td class="text-left text-middle">{{title}}{{#if isDraft}}<label class="btn btn-sm btn-warning pull-right">Draft</label>{{/if}}</td>
								<td>{{formatDate submitted}}</td>
								<td>
									<a href="/articles/edit/{{_id}}"><button class="btn btn-info"><i class="fa fa-pencil"></i></button></a>
									<button class="delete-article btn btn-danger"><i class="fa fa-times"></i></button>
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
				<br>
				{{#if articleLimitReached}}
					<div class="col-xs-12 text-center">
						<button class="btn btn-primary load-more2">Load More</button>
					</div>
				{{/if}}
			</div>
		</div>
	{{/if}}
</template>