<template name="resetPassword">
	<div class="container">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<h4 class="page-header">Change Your Password</h4>
			<form id="reset-password" class="reset-password">
				<div class="form-group">
					<label for="newPassword">Old Password</label>
					<input id="old-password" type="password" name="newPassword" class="form-control" placeholder="New Password">
				</div>
				<div class="form-group">
					<label for="newPassword">New Password</label>
					<input id="new-password" type="password" name="newPassword" class="form-control" placeholder="New Password">
				</div>
				<div class="form-group">
					<label for="password">Repeat New Password</label>
					<input id="new-password2" type="password" name="repeatNewPassword" class="form-control" placeholder="Password">
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-success" value="Change Password">
				</div>
			</form>
		</div>
	</div>
</template>