<template name="signUp">
	<div class="container">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<h4 class="text-center"><strong>CREATE AN ACCOUNT</strong></h4>
			<br>
			<div class="form-group">
				<form class="sign-up-form">
					<label>Email</label>
					<input type="text" name="email" id="signup-email" class="form-control"/>
					<br>
					<label>Password</label>
					<input type="password" name="password" id="signup-password" class="form-control"/>
					<br>
					<br>
					<div class="text-center">
						<button class="sign-up-btn btn btn-success">REGISTER</button>
					</div>	
					<br>
					<p class="text-center">If you already have an account <a href="/sign-in"><strong>Sign In</strong></a></p>
				</form>
			</div>
		</div>
	</div>
</template>